html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
*{
  box-sizing: border-box;
}
/****************** End CSS RESET *****************/

body {
  font-family: Arial, sans-serif;
  color: #333;
  width: 1280;
  margin:auto;
}

.container {
  width: 70%;
  margin: auto;
}

header {
 /* background: url(images/bg.jpg) no-repeat;*/
  width: 100%;
  height: 70px;
  margin: auto;
}
#headerDiv{
  height:70px;
  width: 80%;
  float: left;
  margin:auto;
}
#headerDiv a{
  text-decoration: none;
  color: #020202;

}

header h1 {
  color: black;
  font-size: 35px;
  /*line-height: 300px;*/
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 28px;
  float: left;
}

#navDiv{
  height:40px;
  float: left;
}
#navag{
  width: 50%;
  float: left;
}
#navDiv ul{
  padding-top: 27px;
}
#navDiv ul li{
  float: left;
  cursor: pointer;
}

#humButton{
  width: 50px;
  height: 40px;
  opacity: 1;
}
nav ul li ul{
  width: 10%;
  position: absolute;
  left:-99999px;
  background-color: white;
  border:1px solid #c9c9c9;
  height:300px;
  opacity: 0.6;
} 
nav ul li:hover ul{
  left:auto;
}
nav ul li ul li{
  list-style-type: none;
  height: 40px;
  width: 100%;
  position: relative;
  float: left;
}
nav ul li ul li a:hover{
  opacity: 1;
  background-color: #c9c9c9;
  height: 40px; 
}
nav ul li ul li a{
  position:absolute;
  text-decoration: none;
  font-size: 13px;
  color: black;
  width: 100%;
  display: block;
  float: left;
  padding-top: 10px;
  padding-left: 6px;
}
/************************ end of header *********************************/
#top{
  width: 100%;
  height: 500px;
  background: url(images/background.png) no-repeat;
  margin:auto;
}
#top p{
  color: white;
}
#post{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 30px;
  padding-left: 20%;
  padding-top: 15%;
}
#like{
  font-style: italic;
  font-size: 22px;
  padding-left: 30%;
  padding-top: 3%;
}
/************************* end of top **************************/
#middle1{
  text-align: center;
  padding-top: 15px;
  padding-bottom: 20px;
  font-style: italic;
}
/************************** end of middle1 *************************************/
section{
  width: 100%;
  margin: auto;
}
h2{
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  padding-top: 10px;
}
section p{
  font-size: 20px;
  width: 95%;
  padding-left: 5%;
  padding-top: 20px;
  line-height: 35px;
  letter-spacing: 1px;
}
section time{
  padding-left: 5%
}
/*************************** end of section **************************/
#bottom{
  width:100%;
  height:80px;
  padding-top: 40px;
}
#bottom ul li{
  width:50%;
  float: left;
  text-align: center;
  height: 60px;
  position: relative;
}
#bottom ul li a{
  text-decoration: none;
  font-size: 22px;
  color: #3e3c3c;
  text-transform: uppercase;
  position: absolute;
  right:35%;
  top:35%;
}
#bottom ul li a:hover{
  color: white; 
}
#list1{
  background-color: #7f7f7f;
}
#list2{
  background-color: #b9b9b9;
}
/******************************* end of bottom ******************************/
footer{
  width:100%;
  height:80px;
  float: left;
  text-align: center;
  padding-top: 40px;
  color: #4f4d4d;
}
#fleft, #fright{
  width: 50%;
  float: left;
}
/*section {
  float: left;
  width: 660px;
  margin-right: 20px;
}

aside {
  float: right;
  width: 340px;
}

footer {
  clear: both;
  background-color: #c320e1;
  padding: 20px;
}

article {
  margin-bottom: 60px;
}

.resources {
  background-color: #cacaca;
  padding: 20px;
}
*/

/************ Typography *************/

/*h1, h2, h3 {
  font-weight: bold;
}

h2 {
  font-size: 150%;
  margin-bottom: 16px;
}

h3 {
  font-size: 125%;
  margin-bottom: 16px;
}

time {
  display: block;
  font-size: 85%;
  margin-bottom: 16px;
}

p, li {
  margin-bottom: 16px;
  line-height: 22px;
}

a {
  font-weight: bold;
  text-decoration: none;
}

footer p {
  text-align: center;
}*/
